<!doctype html>
<html lang="zh-en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="my_Django/bootstrap/dist/css/bootstrap.min.css">
<title>登陆</title>
<body>
<h1>登陆</h1>
<script rel="stylesheet" href="my_Django/bootstrap/other/jquery.js"></script>
<script rel="stylesheet" href="my_Django/bootstrap/other/popper.js"></script>
<script rel="stylesheet" href="my_Django/bootstrap/dist/css/bootstrap.min.js"></script>

</body>

</html>